.block .attachment {
  display: block;
  padding: 0 0 10px 0; }
  .block .attachment .attachment-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    position: relative; }
  .block .attachment .inputs {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
    clear: both;
    padding: 0 0 10px 0; }
    .block .attachment .inputs .input {
      width: calc(50% - 5px); }
    .block .attachment .inputs input {
      margin-top: 0; }
    .block .attachment .inputs textarea {
      display: none; }
    .block .attachment .inputs .cke_editable {
      width: 100%; }
  .block .attachment.delete .inputs {
    display: none; }
