.block .attachment {
	display: block;
}
.block .attachment .attachment-row {
	display: flex;
  align-items: center;
  position: relative;
}
.block .attachment .inputs {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	clear: both;
}
.block .attachment .inputs .input {
	width: calc(50% - 5px);
}
.block .attachment .inputs .input input {
	margin-top: 0;
}

.block .attachment.delete .inputs {
	display: none;
}