.exploratory-map-block .exploratory-map {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease; }
  .exploratory-map-block .exploratory-map canvas.mapboxgl-canvas {
    outline: none; }
  .exploratory-map-block .exploratory-map.show {
    opacity: 1; }
  .exploratory-map-block .exploratory-map.marker-hover {
    cursor: pointer; }
  .exploratory-map-block .exploratory-map .em-popup {
    width: calc(70% - 40px);
    max-width: 40em;
    height: calc(100% - 80px);
    position: absolute;
    left: 40px;
    top: 40px;
    padding: 20px;
    background: white;
    margin-left: -100%;
    z-index: 100;
    -webkit-transition: margin 300ms ease;
    -o-transition: margin 300ms ease;
    transition: margin 300ms ease;
    overflow: auto; }
    .exploratory-map-block .exploratory-map .em-popup h2 {
      margin: 0;
      text-align: center; }
    .exploratory-map-block .exploratory-map .em-popup ul {
      padding: 0;
      margin: 0; }
      .exploratory-map-block .exploratory-map .em-popup ul li {
        list-style: none;
        padding: .75em 0 0 0; }
    .exploratory-map-block .exploratory-map .em-popup a {
      border-bottom: 2px solid #304b71; }
    .exploratory-map-block .exploratory-map .em-popup.show {
      margin-left: 0; }
  .exploratory-map-block .exploratory-map .map-arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    color: #304b71;
    z-index: 200; }
    .exploratory-map-block .exploratory-map .map-arrow:hover {
      cursor: pointer; }
    .exploratory-map-block .exploratory-map .map-arrow[data-direction="prev"] {
      left: 0; }
      .exploratory-map-block .exploratory-map .map-arrow[data-direction="prev"]::after {
        content: '\f0d9'; }
    .exploratory-map-block .exploratory-map .map-arrow[data-direction="next"] {
      right: 0; }
      .exploratory-map-block .exploratory-map .map-arrow[data-direction="next"]::after {
        content: '\f0da'; }
    .exploratory-map-block .exploratory-map .map-arrow::after {
      width: 100%;
      height: 100%;
      font-size: 40px;
      text-align: center;
      position: absolute;
      font-family: 'FontAwesome'; }

.exploratory-map-block .item-showcase {
  width: 100%;
  padding: 20px 0 0 0;
  margin: 0; }
  .exploratory-map-block .item-showcase .item {
    color: #304b71;
    list-style: none; }
    .exploratory-map-block .item-showcase .item.current {
      color: #7597c5; }
    .exploratory-map-block .item-showcase .item:hover {
      color: #7597c5;
      cursor: pointer; }

.exploratory-map-block.story .item-showcase .item {
  text-align: left; }
  .exploratory-map-block.story .item-showcase .item::before {
    content: attr(data-index);
    display: inline;
    margin-right: 10px; }
  .exploratory-map-block.story .item-showcase .item .title {
    display: inline;
    font-weight: 600; }
